@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Roboto+Slab:wght@500&display=swap");
:root {
    --primary-color: #0d62ad;
    --secondary-color: #ff914d;
    --accent1-color: #5ad7ff;
    --accent2-color: #fefffe;

    --heading-font: "Roboto+Slab", serif;
    --paragraph-font: "Barlow", serif;

    --nav-background-color: #fefffe;
    --nav-link-color: #0d62ad;
    --nav-hover-link-color: #ff914d;
    --nav-hover-background-color: #5ad7ff;
}
html {
    background-color: #fefffe;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: #733d00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img {
    width: 40%;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;
}
nav a {
    text-decoration: none;
    color: #5ad7ff;
}
.hero img{
    position: relative;
    display: block;
    width: 100%;
}
.hero h1 {
    position: absolute;
    box-sizing: content-box;
    padding: 20px;
    text-align: center;
    background-color: #ff914dba;
    object-fit: cover;
}
.hero article {
    position: absolute;
    left: 110px;
    right: 110px;
    top: 750px;
    padding: 1%;
    box-sizing: border-box;
    background-color: #5ad6ffdf;
}
.hero article img {
    width: 10%;
    float: right;
}
body {
    margin: 10px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
section img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    width: 50%;
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #5ad7ff;
}
footer img {
width: 30px;
margin-left: 10px;
}
