@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Roboto+Slab:wght@500&display=swap");
:root {
    --primary-color: #0d62ad;
    --secondary-color: #ff914d;
    --accent1-color: #5ad7ff;
    --accent2-color: #fefffe;

    --heading-font: "Roboto+Slab", serif;
    --paragraph-font: "Barlow", serif;

    --nav-background-color: #fefffe;
    --nav-link-color: #0d62ad;
    --nav-hover-link-color: #ff914d;
    --nav-hover-background-color: #5ad7ff;
}
body {
    font-family:"Barlow";
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:"Roboto+Slab" ;
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}